:root{
  color: rgb(255, 255, 255);
  color: rgb(0,0,0);
  color: #B97A42
}

.title p{ 
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.questions{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.dropdownline{
 display: flex;
}

.dropdownline .btnDropdown{
  height: 15px;
  width: 15px;
  background-color: #B97A42;
  margin-top: -7px;
  border-radius: 100px;
  border: none;
  
}

.dropdownline span{
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 10px;
}

.dropdown{
  padding-left: 20px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;

}

.dropdown.open{
  height: 100px;
 transition: all 0.5s ease;
}

.dropdown p {
  font-size: 16px;
}

